  man-header-magazine,
  man-wysiwyg-box,
  mandiner-man-weekly-newspaper,
  kesma-advertisement-adocean,
  kesma-branding-box-ex,
  .free-display-inventory-wrapper,
  .newsletter-diverter-card-article,
  .newsletter-diverter-card-layout,
  .newsletter-diverter-card-popup,
  .article-bottom-social-interaction,
  .trending-topics,
  .facebook-popup,
  .exit-popup,
  .recommendation-block-external {
    display: none !important;
  }
